<div class="container" style="max-width: 400px; margin: auto">

  <form #loginForm="ngForm">

    <div class="ui-g ui-fluid">

      <div class="ui-g-12">
        <h1>Login</h1>
      </div>

      <div class="ui-g-12">

        <input pInputText type="email" name="usuario" placeholder="E-mail"
        ngModel #usuario="ngModel" required>
        <app-message [control]="usuario" error="required" text="Informe o e-mail"></app-message>

      </div>

      <div class="ui-g-12">

        <input pInputText type="password" name="senha" placeholder="Senha"
        ngModel #senha="ngModel"  required #senhalimpar>
        <app-message [control]="senha" error="required" text="Informe a senha"></app-message>

      </div>

      <div class="ui-g-12">

        <button pButton type="submit" label="Login" [disabled]="!loginForm.valid"
          (click)="logar(usuario.value, senha.value); "></button>

      </div>

    </div>

  </form>

</div>
