<div class="container">

  <form autocomplete="false" (ngSubmit)="salvar()" [formGroup]="formulario">

    <div class="ui-g">

      <div class="ui-g-12">
        <h2>Cadastro de usuário</h2>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Nome:</label>
        <input pInputText type="text" formControlName="nome">
        <app-message [control]="formulario.get('nome')" error="required" text="Informe o nome"></app-message>
        <app-message [control]="formulario.get('nome')" error="minlength"
          text="Mínimo de {{formulario.get('nome').errors?.minlength?.requiredLength}} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Email:</label>
        <input pInputText type="email" formControlName="email">
        <app-message [control]="formulario.get('email')" error="required" text="Informe o email"></app-message>
        <app-message [control]="formulario.get('email')" error="email" text="Email inválido"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Senha:</label>
        <input pPassword type="password" formControlName="senha">
        <app-message [control]="formulario.get('senha')" error="required" text="Informe a senha"></app-message>
        <app-message [control]="formulario.get('senha')" error="minlength"
          text="Mínimo de {{formulario.get('senha').errors?.minlength?.requiredLength}} caracteres"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <p-checkbox label="Ativo" binary="true" [formControl]="formulario.controls['ativo']"></p-checkbox>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Permissões:</label>
      </div>

      <div class="ui-g-12 ui-fluid">
        <div *ngFor="let permissao of permissoes">

          <label *ngIf="nomeGrupoPermissao(permissao.tipoPermissao)">
            <br>{{ permissao.descricao.substring(permissao.descricao.lastIndexOf('_') + 1 ) + 's:' | titlecase }}<br>
          </label>


          <input type="checkbox" [value]="permissao" [checked]="existePermissao(permissao)"
            (change)="addPermissaoCheck(permissao, $event)">


          <label>
            {{permissao.descricao.replace('ROLE_', '').replace('_', ' ') | titlecase}}
          </label>
        </div>
      </div>

      <div class="ui-g-12 cadastro-acoes">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <a routerLink="/usuarios">Voltar para a pesquisa</a>
      </div>

    </div>

  </form>


</div>
