<div class="container">

  <form #f="ngForm" autocomplete="off" #lancamentoForm="ngForm" (ngSubmit)="salvar(f)">

    <div class="ui-g">

      <div class="ui-g-12">
        <h2>{{editando ? 'Edição de' : 'Novo'}} Lançamento</h2>
      </div>

      <div class="ui-g-12">
        <p-selectButton [options]="tipos"
        [(ngModel)]="lancamento.tipo"
        name="tipo"
        #tipo></p-selectButton>
      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid"> <!-- ui-md-3 (Diz para a grid do primeng que quando for resolução media utilize só 3 colunas, e se for menor (smartphone) utiliza 12)-->

        <label>Vencimento:</label>
        <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="false" [showIcon]="true"
          name="vencimento" ngModel
          [(ngModel)]="lancamento.dataVencimento"
          #vencimento="ngModel" required></p-calendar>
        <app-message [control]="vencimento" error="required" text="Informe o vencimento"></app-message>

      </div>

      <div class="ui-g-6 ui-md-3 ui-fluid">
        <label>{{ tipo.value === 'RECEITA' ? 'Recebimento:' : 'Pagamento:' }} </label>
        <p-calendar dateFormat="dd/mm/yy" [readonlyInput]="false" [showIcon]="true"
        [(ngModel)]="lancamento.dataPagamento"
        name="dataPagamento"
        ></p-calendar>
      </div>

      <div class="ui-g-12 ui-md-9 ui-fluid">
        <label>Descrição:</label>
        <input pInputText type="text" name="descricao" ngModel #descricao="ngModel" required minlength="5"
        [(ngModel)]="lancamento.descricao">

        <app-message [control]="descricao" error="required" text="Informe uma descrição"></app-message>
                                                                   <!--?(interrogação é um operador elvis de segurança, ) aqui diz se o errors for nulo para por ai na tag e não continua, se nao colocad da pau-->
        <app-message [control]="descricao" error="minlength" text="Mínimo de {{ descricao.errors?.minlength?.requiredLength  }} caracteres"></app-message>

      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Valor:</label>

         <!-- options foi colocado para trocar para formato real brasileiro -->
        <input pInputText type="text" placeholder="0,00" name="valor"
        currencyMask [options]="{prefix: '', thousands: '.', decimal: ',', allowNegative: false}"
        name="valor" ngModel
        [(ngModel)]="lancamento.valor"
        #valor="ngModel" required>
        <app-message [control]="valor" error="required" text="Informe o valor"></app-message>

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Categoria:</label>

          <p-dropdown [options]="categorias" placeholder="Selecione" [filter]="true"
          name="categoria" ngModel
          [(ngModel)]="lancamento.categoria.codigo"
          #categoria="ngModel" required></p-dropdown>
          <app-message [control]="categoria" error="required" text="Informe a categoria"></app-message>

      </div>

      <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Pessoa:</label>
          <p-dropdown [options]="pessoas" placeholder="Selecione" [filter]="true"
          name="pessoa" ngModel
          [(ngModel)]="lancamento.pessoa.codigo"
          #pessoa="ngModel" required></p-dropdown>
         <app-message [control]="pessoa" error="required" text="Informe a pessoa"></app-message>
      </div>

      <div class="ui-g-12 ui-fluid">
        <label>Observação:</label>
        <textarea pInputTextarea rows="3" [(ngModel)]="lancamento.observacao" name="observacao"></textarea>
      </div>

      <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" [disabled]="lancamentoForm.invalid"></button>

          <a routerLink="/lancamentos">Voltar para a pesquisa</a>
        </div>


    </div>
  </form>

</div>
