body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label {
  font-weight: bold;
}

@media(min-width: 1200px){
  .container{
    width: 1170px;
    margin: 0 auto;
  }
}

a.ui-button:hover {
  background-color: #005B9F;
  color: white;
}

.col-acoes .ui-button {
  text-align: center;
}

.col-valor-header {
  width: 120px;
}

.col-valor-content {
  text-align: right;
}

.col-data-header {
  width: 120px;
}

.col-data-content {
  text-align: center;
}

.espaco-icones {
  margin: 0 .25em!important;
}

.col-pequena-header {
  width: 120px;
}

.col-media-header {
  width: 250px;
}

.label-spaced {
  margin: 5px;
}

.cadastro-acoes .ui-button {
  margin-right: 5px;
}

.relatorio-filtro {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
